/* 
パソコン版スマホ版共通CSSです
*/

/* コンポーネント */
.button {
    background-color: rgb(255, 91, 118);
    border-radius: 5px;
    color: white;
    box-shadow: 1px 1px 10px lightgray;
    font-size: 16px;
    font-weight: bold;
    padding: 0.5em;
    width: 100px;
}
.blog__botton {
    margin: auto;
}
.center {
    margin: auto;
}

/* ブロック */
.main-content {
    max-width: 800px;
    margin: auto;
    min-height: 100vh;
    padding: 70px 0;
}
.daily__img {
    width: 600px;
}
.post {
    background-color: #fafafa;
    display: flex;
    margin: 1em 0;
}
.post__content {
    padding: 1em;
}
.post__title {
    color: #070707;
    font-size: 20px;
    text-align: left;
}
.post__text {
    line-height: 1.5em;
}
.post__img {
    width: 360px;
    height: 100%;
    object-fit: cover;
}
.card-box {
    display: flex;
    flex-wrap: wrap;
}
.card {
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 1px 1px 10px gray;
    margin: 1em;
}